<template>
  <v-app-bar :clipped-left="clipped" fixed app>
    <v-app-bar-nav-icon @click.stop="miniVariantToggle" />
    <div class="nav-logo-wrapper">
      <div class="nav-logo-content">
        <img src="/logo.png" to="/" alt="myNote-logo" class="logo-img" />
        <v-toolbar-title v-text="title" />
      </div>
    </div>
    <v-spacer />
  </v-app-bar>
</template>

<script>
export default {
  data() {
    return {
      fixed: true,
      title: 'myNote',
      miniVariant: true,
      clipped: true,
    }
  },
  methods: {
    miniVariantToggle() {
      this.$store.commit('set_miniVariant', !this.$store.state.miniVariant)
    },
  },
}
</script>

<style lang="css" scoped>
.nav-logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
</style>
