<template>
  <v-app light>
    <v-main>
      <v-container class="container d-flex">
        <Navbar />
        <Sidebar />
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Sidebar from '@/components/sidebar'
import Navbar from '@/components/navbar'
export default {
  components: {
    Sidebar,
    Navbar,
  },
}
</script>

<style lang="css" scope>
.container {
  max-width: 100%;
  height: 100%;
}
</style>
