<template>
  <div class="content-wrapper">
    <div class=""></div>
    <v-card v-for="content in contents" :key="content.id" class="card-wrapper">
      <v-card-text>
        <h1 class="display-1 text--primary">{{ content.title }}</h1>
        <div class="text--primary">{{ content.body }}</div>
      </v-card-text>
      <v-card-actions>
        <v-btn text color="deep-purple accent-4"> Learn More </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  layout: 'default2',
  data() {
    return {
      contents: [
        {
          id: 1,
          title: 'title 1',
          body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
        {
          id: 2,
          title: 'title 2',
          body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
        {
          id: 3,
          title: 'title 3',
          body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
        {
          id: 4,
          title: 'title 4',
          body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
        {
          id: 5,
          title: 'title 5',
          body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
        {
          id: 5,
          title: 'title 6',
          body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
        {
          id: 5,
          title: 'title 7',
          body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
        {
          id: 5,
          title: 'title 8',
          body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
        {
          id: 5,
          title: 'title 9',
          body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
        {
          id: 5,
          title: 'title 10',
          body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
      ],
    }
  },
}
</script>

<style lang="css" scoped>
.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card-wrapper {
  margin: 12px 20px;
  max-width: 30%;
}
</style>
